# Virtual Environment
suspension_env/

# YOLO outputs
runs/

# Models
*.pt

# Dataset
pothole-1/
pothole-small-1/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# Label cache
*.cache